<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>regist</title>-->
<!--</head>-->
<!--<body>-->

<!--	<h1>새 게시글 등록</h1>-->
<!--	-->
<!--	<form action="/post/regist" method="post">-->
<!--		<label>게시글 제목 : </label><input type="text" name="postTitle"><br>-->
<!--		<label>게시글 내용 : </label><input type="number" name="postContent"><br>-->
<!--		<label>카테고리 : </label>-->
<!--		<select name="categoryId" id="categoryId">-->
<!--			<option></option>-->
<!--			&lt;!&ndash; -->
<!--				카테고리 내용이 변화할 수 있다면 조회 해서 처리해야 하며 fetch로 처리-->
<!--			 &ndash;&gt;-->
<!--&lt;!&ndash;		</select><br>&ndash;&gt;-->
<!--&lt;!&ndash;		<label>판매 상태 : </label>&ndash;&gt;-->
<!--&lt;!&ndash;		<select name="orderableStatus">&ndash;&gt;-->
<!--&lt;!&ndash;			<option value="Y">판매가능</option>&ndash;&gt;-->
<!--&lt;!&ndash;			<option value="N">판매불가</option>&ndash;&gt;-->
<!--&lt;!&ndash;		</select><br>&ndash;&gt;-->
<!--		<input type="submit" value="전송">-->
<!--	</form>-->

<!--	<script>-->
<!--		fetch('/post/category')-->
<!--				.then(res => res.json())-->
<!--				.then(data => {-->
<!--					const $categoryId = document.getElementById('categoryId');-->
<!--					console.log($categoryId)-->

<!--					for(let index in data){-->
<!--						const $option = document.createElement('option');-->
<!--						$option.value = data[index].categoryId;-->
<!--						// $option.textContent = data[index].categoryName;-->

<!--						$categoryId.appendChild($option);-->
<!--					}-->
<!--				});-->
<!--	</script>-->

<!--</body>-->
<!--</html>-->