<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teampheonix.postreply.query.mapper.DayLikePostMapper">

    <resultMap id="dayLikePostResultMap" type="com.teampheonix.postreply.query.dto.Post">
        <id property="postId" column="post_id"/>
        <result property="postTitle" column="post_title"/>
        <result property="postContent" column="post_content"/>
        <result property="postDate" column="post_date"/>
        <result property="categoryId" column="category_id"/>
        <result property="likeAmount" column="like_amount"/>
        <result property="memberCode" column="member_code"/>
        <result property="postModifyDate" column="post_modify_date"/>
    </resultMap>

    <select id="selectDayLikePost" resultMap="dayLikePostResultMap" parameterType="java.util.Date">
        SELECT
              post_id,
              post_title,
              post_content,
              post_date,
              category_id,
              like_amount,
              member_code,
              post_modify_date
          FROM post
        WHERE DAY(post_date) = DAY(#{postDate})
        <!-- AND like_amount >= #{likeAmount} 라는 조건 추가하면 error남 왜 HashMap으로 못옮기지? -->
    </select>

</mapper>
